/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/uploads/videos/Yellow box-3.mp4
/public/uploads/videos/Training-1.mp4
/public/uploads/videos/Negotiate  round abou-4.mp4
/public/uploads/videos/Training-2.mp4
/public/uploads/videos/Copy of round about-5.mp4
/nbproject/private/
/public/uploads/images/Camping Tent-4.png
/public/uploads/videos/wsw-6.mp4